


/*                   Styles for my Jumbotrons ONLY               */



/*--------------------MY MAIN JUMBOTRON STYLES--------------------------------------------------*/
.jumboBG {
	border-radius: 50px;
	
	/*background-color: #fdf8e1; */
	background: rgba(253, 248, 225, 0.8);
	
	border: 1px solid #f2cb3b;
	h1 {
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		/*Text Border Effect*/
		text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
		-moz-text-shadow: 0 0 4px #000;
		-webkit-text-shadow: 0 0 4px #000;		
		}

	h2 {
		text-align: center;
		color: #c41200;
		font-weight: bold;
		}
	h3 {
		text-align: center;
	}


}/*END JUMBOTRON STYLES*/

/*-------------------------TableContainer STYLES-----------------------------------------------*/


.tablecontainer {
	/*background-color: #44B4D5;*/
	/*background: rgba(6,220,251, 0.5);*/

	/*background: rgba(253, 248, 225, 0.5);*/
	background: rgba(255, 255, 255, 0.8);
	
	border: 1px solid #44B4D5;
	/*border-radius: 30px;*/
	font-size: 14px;


	h2 {
		text-align: center;
	}
}




.cancelMyAccount {
	
	

	background: rgba(255,200,200, 0.8);
	text-align: center;
	border: 1px solid #F70000;
	width: 600px;
	margin: auto;


	h3 {
		text-align: center;
		}

	p {
		text-align: center;
		}


}/*END JUMBOTRON STYLES*/