/*My Custom Styles*/


.backgroundBG {
	/*
	background-image: url("restaurantbg.jpg");
	background-size: cover;
  background-repeat: no-repeat;
	
	
	z-index: 0;
	display: block;
  position: relative;
*/
  background: url("https://s3.amazonaws.com/pulaski-restaurant-review/restaurantbg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;





}/*END .background*/










.navbar-fixed {
	opacity: 1;
	height: 100px;
	.container-fluid {
		padding-top: 25px;
		height: 100px;
		background-color: #b80b03;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}/*END .navbar-nav > li > a*/

		.navbrand-container {
			text-align: center;
		}

		.navbar-brand {
			margin-left: -20px;
			text-align: center;
			position: center;
			color: black;
			font-size: 30px;
			font-weight: bold;
			/*font-family: 'Delius regular';*/
			font-family: 'Concert One', cursive;
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
		}/*END .navbar-brand*/
	}/*END .container-fluid*/
}/*END .navbar-default*/








.container-fluid {
	padding: 10px 70px;

}
/*
.welcomeTitle {
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #44B4D5;
}
*/

.h3Back {
	font-size: 20px;
}