<!--div class="jumbotron footerContainer"-->
<footer class="footer navbar-light">


<p>Copyright &copy 2016 by Chris Moncure            
<%= image_tag "town_of_pulaski_logo.png", class: "footerImg" %></p>
</footer>
